<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Company List</h4>
            <!-- <p class="card-category"> List of users.</p> -->
            <button class="btn btn-sm btn-success pull-right" [routerLink]="['./add']">
            Add New
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th width="20%">Name </th>
                  <th width="20%">Email </th>
                  <th width="20%">URL </th>
                  <th width="20%">Logo </th>
                  <th width="10%">Created </th>
                  <th width="10%">Action </th>
                </thead>
                <tbody *ngIf="companies?.length > 0">
                  <tr *ngFor="let company of companies; let indx = index">
                    <td>
                      {{company.name}}
                    </td>
                    
                    <td>
                      {{company.email}}
                    </td>
                    
                    <td>
                      {{company.url}}
                    </td>
                    
                    <td>
                      <img *ngIf="company?.logo.length > 0" [src]="company.logo" height="50px" width="80px">
                    </td>
                    
                    <td>{{company.created | date: 'mediumDate'}}</td>
                    <td>
                      <button class="btn btn-sm btn-info" routerLink="./edit/{{company.company_id}}">
                      Edit
                      </button>
                      <button class="btn btn-sm btn-danger" (click)="delete(company.company_id, indx)">
                      Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="companies?.length == 0">
                  <tr>
                    <td colspan="6" class="empty-list">
                      No company found.
                      <br>
                      <button class="btn btn-sm btn-success" [routerLink]="['./add']">
                      Add New
                      </button>
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>