<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="(dashboardData | json) != '{}'">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Total Users</p>
            <h3 class="card-title">
            {{dashboardData?.users}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-warning">visibility</i>
              <a href="#" [routerLink]="['/admin/user-list']">View users</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">library_books</i>
            </div>
            <p class="card-category">Total Stories</p>
            <h3 class="card-title">
            {{dashboardData?.stories}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">visibility</i>
              <a href="#" [routerLink]="['/admin/stories']">View stories</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">live_help</i>
            </div>
            <p class="card-category">Total Questions</p>
            <h3 class="card-title">
            {{dashboardData?.forum_questions}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">visibility</i>
              <a href="#" [routerLink]="['/admin/questions']">View Questions</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">question_answer</i>
            </div>
            <p class="card-category">Total Answers</p>
            <h3 class="card-title">
            {{dashboardData?.forum_answers}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">visibility</i>
              <a href="#" [routerLink]="['/admin/answers']">View Answers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Sign Ups Per Day</h4>
          </div>
          <div class="card-body">
            <div id="chartdiv"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>