<!-- Page title -->
<div class="single_story_page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <h1>Contact Us</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="contact_top_wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p class="size18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
        <p class="size18 top20">Lorem Ipsum has been the industry's printing and typesetting industry.</p>
        <p class="size18 top20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
      </div>
      <div class="col-lg-4">
        <div class="aside-right size16">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p class="top20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. Learn <a href="#"><u>how to do an interview.</u></a></p>
          <p class="top20"><a href="#"><u>Follow us on Twitter</u></a></p>
          <p class="top20"><a href="#"><u>Disclosure about our interviews</u></a></p>
        </div>
      </div>
    </div>
    <div class="row top70">
      <div class="col-lg-8">
        <form class="contact-form" action="?" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirstName">First Name <span class="required">*</span></label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="FormControlYourEmail">Your Email <span class="required">*</span></label>
            <input type="email" class="form-control" id="FormControlYourEmail" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="inputYourMessage">Your Message <span class="required">*</span></label>
            <textarea class="form-control" id="inputYourMessage" rows="3" required></textarea>
          </div>
          
          <div class="form-group">
            <input type="submit" class="btn btn-orange" value="Submit">
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="contact_address_wrap">
          <ul>
            <li><div class="address_icon"><img src="assets/img/location.png" alt=""></div> <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text.</p></li>
            <li><div class="address_icon"><img src="assets/img/call.png" alt=""></div> 012-8884-57669</li>
            <li><div class="address_icon"><img src="assets/img/email.png" alt=""></div> yourmail@email.com</li>
            <li><div class="address_icon"><img src="assets/img/web.png" alt=""></div> www.domainname.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- Page title -->