<!-- Section 1 -->
<div class="container-fluid user_info_wrap">
    <div class="row">
        <div class="col-md-8 nopadding">
            <img src="/assets/img/user/intro.jpg" alt="">
        </div>
        <div class="col-md-4 nopadding">
            <div class="user_intro_box">
                <div class="user_profile_pic_wrap">
                    <img src="/assets/img/user/user.jpg" alt="">
                </div>
                <h3>Jody  MacDonald</h3>
                <span><strong>6</strong> Stories</span>
                <span><strong>11</strong> PLACES</span>
                <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young</p>
                <p class="top20"><a href="#"><strong>yourdomainname.com</strong></a></p>
            </div>
        </div>
    </div>
</div>
<!-- Section 1 -->



<!-- Section 2 -->
<div class="container-fluid stories_wrap_full">
    <div class="row">
        <div class="col-md-4">
            <div class="full_story_box">
                    <a href="#"><img src="/assets/img/user/us3.jpg" alt=""></a>
                <div class="right_inner_footer not_absolute">
                    <div class="right_inner_footer_top">
                        <a href="#" class="coubt">Russia</a>
                        <a href="#" class="coubt2">Indigenous</a>
                    </div>
                    <div class="right_line">
                        <h3>Women at the End of the Land</h3>
                        <div class="inner_divider"></div>
                        <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young... </p>
                    </div>
                    <div class="right_inner_footer_bottom">
                        <ul>
                            <li><img src="/assets/img/like.png" alt=""> 1,003</li>
                            <li class="bookmark">
                                <div class="share_img_wrap">
                                    <img src="/assets/img/bookmark.png" alt="">
                                    <div class="social_wrap">
                                        <ul>
                                            <li><a href="#"><img src="/assets/img/facebook.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/twtr.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/linkedIn.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div> 14 min rea
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="full_story_box">
                    <a href="#"><img src="/assets/img/user/us1.jpg" alt=""></a>
                <div class="right_inner_footer not_absolute">
                    <div class="right_inner_footer_top">
                        <a href="#" class="coubt">Russia</a>
                        <a href="#" class="coubt2">Indigenous</a>
                    </div>
                    <div class="right_line">
                        <h3>Women at the End of the Land</h3>
                        <div class="inner_divider"></div>
                        <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young... </p>
                    </div>
                    <div class="right_inner_footer_bottom">
                        <ul>
                            <li><img src="/assets/img/like.png" alt=""> 1,003</li>
                            <li class="bookmark">
                                <div class="share_img_wrap">
                                    <img src="/assets/img/bookmark.png" alt="">
                                    <div class="social_wrap">
                                        <ul>
                                            <li><a href="#"><img src="/assets/img/facebook.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/twtr.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/linkedIn.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div> 14 min rea
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="full_story_box">
                    <a href="#"><img src="/assets/img/user/us2.jpg" alt=""></a>
                <div class="right_inner_footer not_absolute">
                    <div class="right_inner_footer_top">
                        <a href="#" class="coubt">Russia</a>
                        <a href="#" class="coubt2">Indigenous</a>
                    </div>
                    <div class="right_line">
                        <h3>Women at the End of the Land</h3>
                        <div class="inner_divider"></div>
                        <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young... </p>
                    </div>
                    <div class="right_inner_footer_bottom">
                        <ul>
                            <li><img src="/assets/img/like.png" alt=""> 1,003</li>
                            <li class="bookmark">
                                <div class="share_img_wrap">
                                    <img src="/assets/img/bookmark.png" alt="">
                                    <div class="social_wrap">
                                        <ul>
                                            <li><a href="#"><img src="/assets/img/facebook.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/twtr.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/linkedIn.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div> 14 min rea
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section 2 -->



<!-- Section 2 -->
<div class="container-fluid stories_wrap_full">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="page_section_divide">Recommended Stories</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="full_story_box">
                    <a href="#"><img src="/assets/img/user/us4.jpg" alt=""></a>
                <div class="right_inner_footer not_absolute">
                    <div class="right_inner_footer_top">
                        <a href="#" class="coubt">Russia</a>
                        <a href="#" class="coubt2">Indigenous</a>
                    </div>
                    <div class="right_line">
                        <h3>Women at the End of the Land</h3>
                        <div class="inner_divider"></div>
                        <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young... </p>
                    </div>
                    <div class="right_inner_footer_bottom">
                        <ul>
                            <li><img src="/assets/img/like.png" alt=""> 1,003</li>
                            <li class="bookmark">
                                <div class="share_img_wrap">
                                    <img src="/assets/img/bookmark.png" alt="">
                                    <div class="social_wrap">
                                        <ul>
                                            <li><a href="#"><img src="/assets/img/facebook.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/twtr.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/linkedIn.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div> 14 min rea
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="full_story_box">
                    <a href="#"><img src="/assets/img/user/us5.jpg" alt=""></a>
                <div class="right_inner_footer not_absolute">
                    <div class="right_inner_footer_top">
                        <a href="#" class="coubt">Russia</a>
                        <a href="#" class="coubt2">Indigenous</a>
                    </div>
                    <div class="right_line">
                        <h3>Women at the End of the Land</h3>
                        <div class="inner_divider"></div>
                        <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young... </p>
                    </div>
                    <div class="right_inner_footer_bottom">
                        <ul>
                            <li><img src="/assets/img/like.png" alt=""> 1,003</li>
                            <li class="bookmark">
                                <div class="share_img_wrap">
                                    <img src="/assets/img/bookmark.png" alt="">
                                    <div class="social_wrap">
                                        <ul>
                                            <li><a href="#"><img src="/assets/img/facebook.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/twtr.png" alt=""></a></li>
                                            <li><a href="#"><img src="/assets/img/linkedIn.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div> 14 min rea
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section 2 -->

