<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Users List</h4>
            <!-- <p class="card-category"> List of users.</p> -->
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>User </th>
                  <th>Email </th>
                  <th>Created </th>
                  <th>Status </th>
                  <th>Action </th>
                </thead>
                <tbody *ngIf="users?.length > 0;">
                  <tr *ngFor="let user of users">
                    <td>
                      <img *ngIf="user.profile_pic; else defaultImage" class="profile_pic" src="{{user.profile_pic}}">

                      <ng-template #defaultImage>
                        <img class="profile_pic default_pic" src="/assets/img/default-user-image.jpg">
                      </ng-template>

                      <a href="#" class="user_name">
                        {{user.first_name}} {{user.last_name}}
                      </a>
                      <br>
                      <span class="user_name text-muted">
                        @{{user.username}}
                      </span>
                    </td>
                    <td>{{user.user_email}}</td>
                    <td>{{user.created | date: 'mediumDate'}}</td>
                    <td>{{user.status}}</td>
                    <td>
                      <button class="btn btn-sm btn-success">
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              
                <tbody *ngIf="users?.length == 0">
                  <tr>
                    <td colspan="5">
                      No user found.
                    </td>
                  </tr>
                </tbody>
                

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>