<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Users List</h4>
            <!-- <p class="card-category"> List of users.</p> -->
          </div>
          <div class="card-body">
            <div class="form-group col-md-4">
              <input type="text" [ngModel]="filterName" class="form-control" placeholder="Search By Name" (ngModelChange)="searchByName($event)">
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>User </th>
                  <th>Email </th>
                  <th>Created </th>
                  <th>Status </th>
                  <th>Action </th>
                </thead>
                <tbody *ngIf="users?.length > 0;">
                  <tr *ngFor="let user of users; let indx = index">
                    <td>
                      <img *ngIf="user.profile_pic; else defaultImage" class="profile_pic" src="{{user.profile_pic}}">

                      <ng-template #defaultImage>
                        <img class="profile_pic default_pic" src="assets/img/default-user-image.jpg">
                      </ng-template>

                      <a href="#" class="user_name">
                        {{user.first_name}} {{user.last_name}}
                      </a>
                      <br>
                      <span class="user_name text-muted">
                        @{{user.username}}
                      </span>
                    </td>
                    <td>{{user.user_email}}</td>
                    <td>{{user.created | date: 'mediumDate'}}</td>
                    <td>{{user.status}}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-status-change" (click)="setStatus = 2; currentUser = user['user_id']; currentIndex = indx;" *ngIf="user['status_id'] == 1">
                        Block
                      </button>
                      <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#confirm-status-change" (click)="setStatus = 1; currentUser = user['user_id']; currentIndex = indx;" *ngIf="user['status_id'] == 2">
                        Unblock
                      </button>
                      <button class="btn btn-sm btn-success" [routerLink]="['./', user.user_id]">
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              
                <tbody *ngIf="users?.length == 0">
                  <tr>
                    <td colspan="5">
                      No user found.
                    </td>
                  </tr>
                </tbody>
                

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="confirm-status-change">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <p *ngIf="setStatus == 2">Confirm to block this user.</p>
        <p *ngIf="setStatus == 1">Confirm to unblock this user.</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="changeStatus(setStatus, currentUser, currentIndex)">Confirm</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>