<!-- Page title -->
<div class="container-fluid page_name_title_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Meet the team</h4>
            </div>
        </div>
    </div>
</div>
<!-- Page title -->
<!-- Page title -->
<div class="container-fluid team_wrap">
    <div class="container">
        <div class="row team_outer_wrap">
            <div class="col-md-5 nopadding">
                <div class="team_img_wrap">
                    <div class="overlay_dark"></div>
                    <ul class="team_social_list">
                        <li><a href=""><img src="assets/img/fb.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/twt.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/linkedIn.png" alt=""></a></li>
                    </ul>
                    <img src="assets/img/team/t1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 nopadding">
                <div class="team_right_content trc_left">
                    <h3>Jody  MacDonald</h3>
                    <span><strong>Call</strong>: 00987983940</span> &nbsp; &nbsp;
                    <span><strong>Email</strong>: youremail@gmail.com</span>
                    <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young</p>
                    <p class="top20"><a href="#"><strong>yourdomainname.com</strong></a></p>
                </div>
            </div>
        </div>
        <div class="row team_outer_wrap">
            <div class="col-md-5 nopadding order-12">
                <div class="team_img_wrap">
                    <div class="overlay_dark"></div>
                    <ul class="team_social_list">
                        <li><a href=""><img src="assets/img/fb.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/twt.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/linkedIn.png" alt=""></a></li>
                    </ul>
                    <img src="assets/img/team/t1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 nopadding order-1">
                <div class="team_right_content trc_right">
                    <h3>Jody  MacDonald</h3>
                    <span><strong>Call</strong>: 00987983940</span> &nbsp; &nbsp;
                    <span><strong>Email</strong>: youremail@gmail.com</span>
                    <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young</p>
                    <p class="top20"><a href="#"><strong>yourdomainname.com</strong></a></p>
                </div>
            </div>
        </div>
        <div class="row team_outer_wrap">
            <div class="col-md-5 nopadding">
                <div class="team_img_wrap">
                    <div class="overlay_dark"></div>
                    <ul class="team_social_list">
                        <li><a href=""><img src="assets/img/fb.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/twt.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/linkedIn.png" alt=""></a></li>
                    </ul>
                    <img src="assets/img/team/t1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 nopadding">
                <div class="team_right_content trc_left">
                    <h3>Jody  MacDonald</h3>
                    <span><strong>Call</strong>: 00987983940</span> &nbsp; &nbsp;
                    <span><strong>Email</strong>: youremail@gmail.com</span>
                    <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young</p>
                    <p class="top20"><a href="#"><strong>yourdomainname.com</strong></a></p>
                </div>
            </div>
        </div>
        <div class="row team_outer_wrap">
            <div class="col-md-5 nopadding order-12">
                <div class="team_img_wrap">
                    <div class="overlay_dark"></div>
                    <ul class="team_social_list">
                        <li><a href=""><img src="assets/img/fb.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/twt.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/linkedIn.png" alt=""></a></li>
                    </ul>
                    <img src="assets/img/team/t1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 nopadding order-1">
                <div class="team_right_content trc_right">
                    <h3>Jody  MacDonald</h3>
                    <span><strong>Call</strong>: 00987983940</span> &nbsp; &nbsp;
                    <span><strong>Email</strong>: youremail@gmail.com</span>
                    <p>For centuries, the nomadic Nenets reindeer herders of the Siberian arctic have migrated across one of the most challenging environments on Earth. Today, the permafrost is melting, posing significant threat to their unique way of life. This is the intimate story of Lena, a young</p>
                    <p class="top20"><a href="#"><strong>yourdomainname.com</strong></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page title -->