<!-- Page title -->
<div class="single_story_page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <h1>Contact Us</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="contact_top_wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p class="size18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
        <p class="size18 top20">Lorem Ipsum has been the industry's printing and typesetting industry.</p>
        <p class="size18 top20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
      </div>
      <div class="col-lg-4">
        <div class="aside-right size16">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p class="top20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. Learn <a href="#"><u>how to do an interview.</u></a></p>
          <p class="top20"><a href="#"><u>Follow us on Twitter</u></a></p>
          <p class="top20"><a href="#"><u>Disclosure about our interviews</u></a></p>
        </div>
      </div>
    </div>
    <div class="row top70">
      <div class="col-lg-8">
        <form [formGroup]="contactForm" (ngSubmit)="submitContact()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirstName">First Name <span class="required">*</span></label>
              <input matInput formControlName="firstName" type="text" class="form-control" id="inputFirstName">
              <div *ngIf="formSubmitted && fields.firstName.errors" class="invalid-feedback">
                <div *ngIf="fields.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input matInput formControlName="lastName" type="text" class="form-control">
              <div *ngIf="formSubmitted && fields.lastName.errors" class="invalid-feedback">
                <div *ngIf="fields.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="FormControlYourEmail">Your Email <span class="required">*</span></label>
            <input matInput formControlName="email" type="email" class="form-control" id="FormControlYourEmail">
            <div *ngIf="formSubmitted && fields.email.errors" class="invalid-feedback">
              <div *ngIf="fields.email.errors.required">Email is required</div>
              <div *ngIf="fields.email.errors.email">Email must be valid</div>
            </div>  
          </div>
          <div class="form-group">
            <label for="inputYourMessage">Your Message <span class="required">*</span></label>
            <textarea matInput formControlName="message" class="form-control" rows="3"></textarea>
            <div *ngIf="formSubmitted && fields.message.errors" class="invalid-feedback">
              <div *ngIf="fields.message.errors.required">Message is required</div>
            </div>
          </div>
          
          <div class="form-group">
            <input type="submit" class="btn btn-orange" value="Submit">
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="contact_address_wrap">
          <ul>
            <li><div class="address_icon"><img src="assets/img/location.png" alt=""></div> <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text.</p></li>
            <li><div class="address_icon"><img src="assets/img/call.png" alt=""></div> 012-8884-57669</li>
            <li><div class="address_icon"><img src="assets/img/email.png" alt=""></div> yourmail@email.com</li>
            <li><div class="address_icon"><img src="assets/img/web.png" alt=""></div> www.domainname.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- Page title -->

<button data-toggle="modal" data-target="#contact-success" class="d-none" #sucessContactBtn></button>

<!-- The Modal -->
<div class="modal fade" id="contact-success">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal body -->
      <div class="modal-body">
        <p class="p-2">Thank you for getting in touch!</p>

        <p class="p-2">We appreciate you contacting us. One of our customer happiness members will be getting back to you shortly.</p>

        <p class="p-2">We will do our best to answer your queries quickly.</p>

        <p class="p-2">Thanks in advance for your patience.</p>

        <p class="p-2">Have a great day!</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer p-2">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<button data-toggle="modal" data-target="#contact-error" class="d-none" #errorContactBtn></button>

<!-- The Modal -->
<div class="modal fade" id="contact-error">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal body -->
      <div class="modal-body">
        Failed to send your message.
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>