.main-panel .navbar {
    margin-bottom: 0;
}
.navbar.navbar-transparent {
    padding-top: 10px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    z-index: 1029;
}