<div class="container-fluid user_info_wrap">
    <div class="row" style="min-height: 80vh;">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-8" *ngIf="showNewForm" [@slideInOut]>
    			
    		<form [formGroup]="addStoryForm" (ngSubmit)="saveDraft()">
	    		<div class="form-group">
	    			<label>Title</label>
	    			<div style="border-left: 1px solid #efefef; padding-left: 10px;">
		        		<textarea [froalaEditor]="editorTitleOptions" class="form-control" formControlName="title">
		        			<p style="font-size: 24px;">  </p>
		        		</textarea>
	    			</div>
	    		</div>

	    		<!-- <hr> -->

	    		<div class="form-group" style="border-left: 1px solid #efefef; padding-left: 10px;">
	        		<textarea [froalaEditor]="editorStoryOptions" placeholder="Tell you story!!" formControlName="description"></textarea>
	    		</div>

	    		<div class="form-group">
	    			<button class="btn btn-sm btn-danger">Continue</button>
	    		</div>
    		</form>

    	</div>
    	<div class="col-sm-8" *ngIf="showPreview" [@slideInOut]>
    		<p>Preview sections</p>
    		
    		<div class="form-group">
    			<label>Title</label>
    			<div style="border-left: 1px solid #efefef; padding-left: 10px;">
	        		<textarea [froalaEditor]="editorTitleOptions" class="form-control">
	        			<p style="font-size: 24px;">  </p>
	        		</textarea>
    			</div>
    		</div>

    		<button class="btn btn-sm btn-danger" (click)="toggleView()">Back</button>
    	</div>
    	<div class="col-sm-2"></div>
    </div>
</div>
