<div class="container-fluid user_info_wrap">
    <div class="row1">
    	<!-- <div class="col-sm-2"></div> -->
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 offset-md-2" *ngIf="showNewForm" [@slideInOut]>
    			
    		<form [formGroup]="addStoryForm" (ngSubmit)="submitDraft()" class="add_story_form">
	    		<div class="form-group">
	    			<div style="border-left: 1px solid #efefef; padding-left: 10px;">		        		
		        		<input type="text" formControlName="title" class="title-field" placeholder="Story Title">
	    			</div>
	    		</div>

	    		<!-- <hr> -->

	    		<div class="form-group" style="border-left: 1px solid #efefef; padding-left: 10px;">
	        		<textarea [froalaEditor]="editorStoryOptions" placeholder="Tell you story!!" formControlName="description"></textarea>
	    		</div>

	    		<div class="form-group">
	    			<button class="theme_btn">Continue</button>
	    		</div>
    		</form>

    	</div>
    		</div>
    	</div>
    	<div class="col-sm-8" *ngIf="showPreview" [@slideInOut]>
    		<p>Story Preview</p>
    		<form [formGroup]="previewForm" (ngSubmit)="savePreview()">
	    		<div class="col-sm-4">
		    		<div class="featured-wrap p-0 m-sm-2 m-md-0 mb-md-4">
			    		<label class="image-upload-container btn btn-bwm">
						  <span>Select Image</span>
						  <input #imageInput
						         type="file"
						         accept="image/*"
						         (change)="processFile(imageInput)" class="d-none">
						</label>
						<div *ngIf="filePath?.length > 0" class="featured-image">
							<img [src]="filePath" style="width: 100%; height: 300px;">
						</div>
					</div>

		    		<div class="form-group">
		    			<input type="text" class="form-field preview-title-field" formControlName="previewTitle" placeholder="Write a preview title" [ngClass]="{'has-errors': previewSubmitted && pf.previewTitle.errors}">
		    		</div>

		    		<div class="form-group">
		    			<textarea class="form-field" formControlName="previewSubtitle" placeholder="Write a preview subtitle...">
		    			</textarea>
		    		</div>
	    		</div>

	    		<button class="theme_btn">Submit for review</button>
    		</form>
	    	
	    	<button class="theme_btn" (click)="toggleView()">Back</button>

    	</div>
    	<div class="col-sm-2"></div>



    </div>
    	
</div>
