<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <button class="btn btn-md btn-current mr-2" [routerLink]="['/admin/stories/pending']">Unpublished</button>
        <button class="btn btn-md btn-danger ml-2" [routerLink]="['/admin/stories/published']">Published</button>
        <button class="btn btn-md btn-current ml-2" [routerLink]="['/admin/stories/flagged']">Flagged</button>
          
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Published Stories</h4>
            <!-- <p class="card-story"> List of users.</p> -->            
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th width="20%">Preview Title </th>
                  <th width="25%">Sub Title </th>
                  <th width="10%">Author </th>
                  <th width="15%">Last Updated </th>
                  <th width="10%">Featured </th>
                  <th width="20%">Action </th>
                </thead>
                <tbody *ngIf="stories?.length > 0">
                  <tr *ngFor="let story of stories; let i = index">
                    <td>
                      <a href="#" target="_blank" [routerLink]="['/story/', story.slug]" class="user_name"> {{story.preview_title | titlecase}} </a>
                      <br />
                      {{story['total_views']}} Views | {{story.total_likes}} Likes
                      <br />
                      {{story['total_shares']}} Shares | 
                      {{story.total_comments}} Comments
                    </td>
                    <td>                    
                     {{ story.preview_subtitle }}
                    </td>
                    <td>
                      <a href="#" class="user_name">
                        {{ story.first_name | titlecase }} {{story.last_name | titlecase }}
                      </a>
                      <p class="user_name text-muted">
                        @{{story.username}}
                      </p>
                    </td>
                    <td>{{story.created | date: 'mediumDate'}}</td>
                    <td>
                      <mat-checkbox [checked]= "story.featured == 1" (click)="updateFeatured(story.story_id, i)">
                        <p *ngIf="story.featured == 1"> Yes </p>
                        <p *ngIf="story.featured == 0"> No </p>
                      </mat-checkbox>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-success" target="_blank" [routerLink]="['/story/', story.slug]">
                        View
                      </a>
                      <button class="btn btn-sm btn-success" (click)="changeStatus(0, story.story_id, story.author_id, i)">
                        Unpublish
                      </button>
                      <button class="btn btn-sm btn-danger" (click)="confirmStoryDelete(story.story_id, i)">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="stories?.length == 0">
                  <tr>
                    <td colspan="6" class="empty-list">
                      No story found.                      
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<button #deleteStoryModal data-toggle="modal" data-target="#confirm-story-delete" [hidden]="true">Delete</button>
<!-- The Modal -->
<div class="modal fade" id="confirm-story-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <p>Confirm to delete this story.</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" (click)="deleteStory(deleteStoryId, deleteStoryIndex)">Confirm</button>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>