<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <button class="btn btn-md btn-current mr-2" [routerLink]="['/admin/stories/pending']">Unpublished</button>
        <button class="btn btn-md btn-danger ml-2" [routerLink]="['/admin/stories/published']">Published</button>

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Published Stories</h4>
            <!-- <p class="card-story"> List of users.</p> -->            
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th width="20%">Preview Title </th>
                  <th width="25%">Sub Title </th>
                  <th width="20%">Author </th>
                  <th width="15%">Last Updated </th>
                  <th width="10%">Featured </th>
                  <th width="10%">Action </th>
                </thead>
                <tbody *ngIf="stories?.length > 0">
                  <tr *ngFor="let story of stories; let i = index">
                    <td>
                      <a href="#" class="user_name"> {{story.preview_title | titlecase}} </a>
                    </td>
                    <td>                    
                     {{ story.preview_subtitle }}
                    </td>
                    <td>
                      <a href="#" class="user_name">
                        {{ story.first_name | titlecase }} {{story.last_name | titlecase }}
                      </a>
                      <p class="user_name text-muted">
                        @{{story.username}}
                      </p>
                    </td>
                    <td>{{story.created | date: 'mediumDate'}}</td>
                    <td>
                      <mat-checkbox [checked]= "story.featured == 1" (click)="updateFeatured(story.story_id, i)">
                        <p *ngIf="story.featured == 1"> Yes </p>
                        <p *ngIf="story.featured == 0"> No </p>
                      </mat-checkbox>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-success" routerLink="/admin/stories/view/{{story.story_id}}">
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="stories?.length == 0">
                  <tr>
                    <td colspan="6" class="empty-list">
                      No story found.                      
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>