<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Logo -->
  <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo.png" alt=""></a>
  <!-- Logo -->
  <!-- Header Navigation -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" (click)="navigate('/')">Home</a></li>
      <li class="nav-item"><a class="nav-link" (click)="navigate('/stories')">Stories</a></li>
      <li class="nav-item"><a class="nav-link" (click)="navigate('/about')">About Us</a></li>
      <li class="nav-item nik_logo"><a class="nav-link" href="#"><img src="assets/img/custom_logo.png" alt=""></a></li>
      <li><a class="nav-link" (click)="navigate('/forum')">Community Discussions</a></li>
      <li class="nav-item"><a class="nav-link" (click)="navigate('/contact')">Contact Us</a></li>
    </ul>
  </div>
  <!-- Header Navigation -->
  <!-- Header right section for Search and Login -->
  <div class="header_right_wrap">
    <a href="#" [routerLink]="['/search']" class="search_wrap"><img src="assets/img/search.png" alt=""></a>
    <div class="header_login_wrap" *ngIf="!loggedIn">
      
      <!-- On click these links shows login/signup forms and hide the reset password form (if it was opened) -->
      <a href="#" data-toggle="modal" data-target="#exampleModal" (click)="showHideLogin = true; showForgotPassword = false; passwordEmailSent = false;">Join</a> |
      <a href="#" data-toggle="modal" data-target="#exampleModal" (click)="showHideLogin = false; showForgotPassword = false; passwordEmailSent = false;" #showLoginModal>Login</a>
    </div>
    <div class="header_login_wrap" *ngIf="loggedIn">
      <div class="dropdown user_profile_dropdown" *ngIf="(userInfo | json) != '{}'">
        <div class="user_loged_pic dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img *ngIf="userInfo?.profile_pic?.length > 0" [src]="userInfo['profile_pic']" alt="">
          <img *ngIf="userInfo?.profile_pic?.length == 0" src="assets/img/forum/user_pic.png" alt="">
        </div>
        <div class="dropdown-menu profile" aria-labelledby="dropdownMenuButton">          
          <a href="#" class="dropdown-item" [routerLink]="['/user/']">Profile</a>
          <a href="#" class="dropdown-item" [routerLink]="['/user/story/new']">Add Story</a>
          <a class="dropdown-item" href="#" [routerLink]="['/user/story/list']">Stories</a>          
          <a class="dropdown-item" href="#" [routerLink]="['/user/forum/list']">Community Discussions</a>
          <a class="dropdown-item" href="#" [routerLink]="['/user/points']">Points</a>
          <a href="#" class="dropdown-item" (click)="signOut()">Logout</a>
        </div>
      </div>      
    </div>
    <div class="main_social_wrap">
      <ul class="team_social_list">
        <li><a href=""><img src="assets/img/fb.png" alt=""></a></li>
        <li><a href=""><img src="assets/img/insta.png" alt=""></a></li>
        <li><a href=""><img src="assets/img/linkedIn.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <!-- Header right section for Search and Login -->
</nav>
<!-- Header -->
<!-- Popup for login -->
<div class="modal fade header_popup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeLoginModal>
  <span aria-hidden="true">&times;</span>
  </button>
  <!-- On click these links shows login/signup forms, hide the reset password form (if it was opened) and hide reset success message (if exists)-->
  <span class="top-right-nav" (click)="showHideLogin = !showHideLogin; showForgotPassword = false; passwordEmailSent = false;" [hidden]="showHideLogin">
    Not yet a member?
    <a class="alink">Sign up</a>
  </span>
  <span class="top-right-nav" (click)="showHideLogin = !showHideLogin; showForgotPassword = false; passwordEmailSent = false;" [hidden]="!showHideLogin" #showHideLoginBtn>
    Already a member?
    <a class="alink">Login</a>
  </span>
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="box-shadow: none;">
      <!----------- STARTS USER LOGIN FORM ------------>
      <div class="modal-body" [hidden]="showHideLogin || showForgotPassword">
        <h3 class="modal-title">Welcome back</h3>
        <div class="login_social_wrap">
          <a class="login_facebook alink" (click)="signInWithFB()"> <img src="assets/img/fb.png" alt=""> Login with Facebook</a>
          <a class="login_twt alink" #googleLoginBtn> <img src="assets/img/google_plus.png" alt=""> Login with Google</a>
          <p class="login_divider">OR</p>
        </div>
        <div class="emailExists mb-2" *ngIf="accountAlreadyExists">
          An account for the specified email address already exists. Please login.
        </div>
        <div *ngFor="let error of loginErrors" class="col-sm-12 mb-2">
          <p class="error">{{error}}</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()"  class="login_form">
          
          <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': loginSubmitted && lf.email.errors }" placeholder="Email" />
          <div *ngIf="loginSubmitted && lf.email.errors" class="invalid-feedback">
            <div *ngIf="lf.email.errors.required">Email is required</div>
            <div *ngIf="lf.email.errors.email">Email must be valid</div>
          </div>
          
          <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': loginSubmitted && lf.password.errors }" placeholder="Password" />
          <div *ngIf="loginSubmitted && lf.password.errors" class="invalid-feedback">
            <div *ngIf="lf.password.errors.required">Password is required</div>
          </div>
          <button type="submit" class="btn-map">
          Login
          <span *ngIf="loginLoading">
            <i class='fa fa-circle-o-notch fa-spin'></i>
          </span>
          </button>
          
        </form>
        <a class="forgt_pass alink" (click)="showForgotPassword = !showForgotPassword">Forgot password?</a>
        <a href="#" class="forgt_pass alink mt-2" *ngIf="accountAlreadyExists">Sign up with another email address.</a>
      </div>
      <!----------- ENDS USER LOGIN FORM ------------>
      <!----------- STARTS USER REGISTERATION FORM ------------>
      <div class="modal-body" [hidden]="!showHideLogin || showForgotPassword">
        <h3 class="modal-title">Join Our Community To Submit Your Own Stories Now</h3>
        <div class="login_social_wrap" [hidden]="showHideSignupForm">
          <a (click)="signInWithFB()" class="login_facebook alink"> <img src="assets/img/fb.png" alt=""> Continue with Facebook</a>
          <a #googleLoginBtn2 class="login_twt alink"> <img src="assets/img/google_plus.png" alt=""> Continue with Google</a>
        </div>
        
        <span [hidden]="showHideSignupForm">
          Or just <a (click)="showHideSignupForm = !showHideSignupForm" class="forgt_pass alink">use your email</a>
        </span>
        <div class="login_social_wrap" [hidden]="!showHideSignupForm">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login_form">
            <div class="form-group">
              <input type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="First name" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last name" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="profession" [ngClass]="{ 'is-invalid': submitted && f.profession.errors }" placeholder="Profession" />
              <div *ngIf="submitted && f.profession.errors" class="invalid-feedback">
                <div *ngIf="f.profession.errors.required">Profession is required</div>
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="company">
                <option value="">Choose company (Optional)</option>
                <option *ngFor="let company of companies" value="{{company.company_id}}">
                  {{company.name}}
                </option>
              </select>
            </div>

            <div class="form-group" *ngIf="showConfirmCompany">
              <input type="text" formControlName="companyEmail" placeholder="Confirm company's email" (blur)="onBlurMethod()" />
              <div *ngIf="submitted && f.companyEmail.errors" class="invalid-feedback">
                <div *ngIf="f.companyEmail.errors.email">Email must be valid</div>
              </div>
              <div *ngIf="errorCompanyEmail" class="invalid-feedback">
                <div *ngIf="errorCompanyEmail">Confirm your company's email</div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
              <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.pattern">Username can only contain letters, numbers and underscores.</div>
              </div>
              <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.userNameExists">This username has already been taken, sorry!</div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be valid</div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn-map">Register</button>
              <a class="btn btn-link" (click)="showHideSignupForm = !showHideSignupForm; refershRegisterForm()">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      <!----------- ENDS USER REGISTERATION FORM ------------>
      <!----------- STARTS FORGOT PASSWORD FORM ------------>
      <div class="modal-body" [hidden]="!showForgotPassword">
        <h3 class="modal-title">Forgot password?</h3>
        
        <div *ngIf="passwordEmailSent; else displayPasswordResetForm">
          <p>{{passwordEmailSuccess}}</p>
        </div>
        <ng-template #displayPasswordResetForm>
        <div class="mb-2">
          Enter your email address and we will send you a new password on your email.
        </div>
        <div *ngFor="let error of forgotPassErrors" class="col-sm-12 mb-2 mt-2">
          <p class="error">{{error}}</p>
        </div>
        <form [formGroup]="forgotPassForm" (ngSubmit)="onForgotPassSubmit()"  class="login_form">
          
          <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': forgotPassSubmitted && fp.email.errors }" placeholder="Email" />
          <div *ngIf="forgotPassSubmitted && fp.email.errors" class="invalid-feedback">
            <div *ngIf="fp.email.errors.required">Email is required</div>
            <div *ngIf="fp.email.errors.email">Email must be valid</div>
          </div>
          <button type="submit" class="btn-map" [disabled]="forgotPassLoading">Send</button>
          <span *ngIf="forgotPassLoading"><i class="fa fa-spin fa-circle-o-notch"></i></span>
          
        </form>
        </ng-template>
        
        <!-- On click it hides the reset password form as well as the success message (if exists) -->
        <a class="forgt_pass alink" (click)="showForgotPassword = !showForgotPassword; passwordEmailSent = false; refreshForgotForm()">
          <span><i class="fa fa-arrow-left mr-2"></i></span>
          Back to login
        </a>
      </div>
      <!----------- ENDS FORGOT PASSWORD FORM ------------>
    </div>
  </div>
</div>
<!-- Popup for login -->


<a data-toggle="modal" data-target="#registerSuccess" data-backdrop="static" data-keyboard="false" #registerSuccess [hidden]="true"></a>

<!-- The Modal -->
<div class="modal fade" id="registerSuccess">
<div class="modal-dialog modal-lg">
  <div class="modal-content register-success">
    
      <!-- Modal body -->
      <div class="modal-body">
          <h4 class="mb-4">WELCOME TO SOA</h4>
          <p>Thanks for signing up. You are now part of our community.</p>
          <p>Your login details have been sent to your email address.</p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" [routerLink]="['/user']">Continue</button>
      </div>
  </div>
</div>
</div>