<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Logo -->
  <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" alt=""></a>
  <!-- Logo -->
  <!-- Header Navigation -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class="nav-link" (click)="navigate()">Home Page</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Origins/Our Story</a>
          <a class="dropdown-item" href="#">Our Purpose & Gamification</a>
          <a class="dropdown-item" href="#">Our Founding Team</a>
        </div>
      </li>
      <li class="nav-item nik_logo"><a class="nav-link" href="#"><img src="/assets/img/custom_logo.png" alt=""></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Individual Story</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
    </ul>
  </div>
  <!-- Header Navigation -->
  <!-- Header right section for Search and Login -->
  <div class="header_right_wrap">
    <a href="#" class="search_wrap"><img src="/assets/img/search.png" alt=""></a>

    <div class="header_login_wrap" *ngIf="!loggedIn">
      
      <a href="#" data-toggle="modal" data-target="#exampleModal" (click)="showHideLogin = true">Join</a> | <a href="#" data-toggle="modal" data-target="#exampleModal" (click)="showHideLogin = false">Login</a>
    </div>
    <div class="header_login_wrap" *ngIf="loggedIn">
      <a (click)="signOut()">Logout</a>
    </div>
  </div>
  <!-- Header right section for Search and Login -->
</nav>
<!-- Header --> 
<!-- Popup for login -->
<div class="modal fade header_popup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeLoginModal>
  <span aria-hidden="true">&times;</span>
  </button>
  <span class="top-right-nav" (click)="showHideLogin = !showHideLogin" [hidden]="showHideLogin">
    Not yet a member?
    <a>Sign up</a>
  </span>
  <span class="top-right-nav" (click)="showHideLogin = !showHideLogin" [hidden]="!showHideLogin" #showHideLoginBtn>
    Already a member?
    <a>Login</a>
  </span>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" [hidden]="showHideLogin">
        <h3 class="modal-title">Welcome back</h3>
        <div class="login_social_wrap">
          <a class="login_facebook alink" (click)="signInWithFB()"> <img src="/assets/img/fb.png" alt=""> Login with Facebook</a>
          <a class="login_twt alink" #googleLoginBtn> <img src="/assets/img/twt.png" alt=""> Login with Google</a>
          <p class="login_divider">OR</p>
        </div>
        <div class="emailExists mb-2" *ngIf="accountAlreadyExists">
          An account for the specified email address already exists. Please login.
        </div>

        <div *ngFor="let error of loginErrors" class="col-sm-12 mb-2">
          <p class="error">{{error}}</p>
        </div>          

        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()"  class="login_form">
          
          <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': loginSubmitted && lf.email.errors }" placeholder="Email" />
          <div *ngIf="loginSubmitted && lf.email.errors" class="invalid-feedback">
            <div *ngIf="lf.email.errors.required">Email is required</div>
            <div *ngIf="lf.email.errors.email">Email must be valid</div>
          </div>  
          
          <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': loginSubmitted && lf.password.errors }" placeholder="Password" />
          <div *ngIf="loginSubmitted && lf.password.errors" class="invalid-feedback">
            <div *ngIf="lf.password.errors.required">Password is required</div>
          </div>

          <button type="submit" class="btn-map">
            Login
            <span *ngIf="loginLoading">
              <i class='fa fa-circle-o-notch fa-spin'></i>
            </span>
          </button>
          
        </form>
        <a href="#" class="forgt_pass">Forgotten your password?</a>
        <a href="#" class="forgt_pass mt-2" *ngIf="accountAlreadyExists">Sign up with another email address.</a>
      </div>
      <div class="modal-body" [hidden]="!showHideLogin">
        <h3 class="modal-title">Welcome, sign up to join</h3>
        <div class="login_social_wrap" [hidden]="showHideSignupForm">
          <a (click)="signInWithFB()" class="login_facebook alink"> <img src="/assets/img/fb.png" alt=""> Continue with Facebook</a>
          <a #googleLoginBtn2 class="login_twt alink"> <img src="/assets/img/twt.png" alt=""> Continue with Google</a>
        </div>
        
        <span [hidden]="showHideSignupForm">
          Or just <a (click)="showHideSignupForm = !showHideSignupForm" class="forgt_pass">use your email</a>
        </span>
        <div class="login_social_wrap" [hidden]="!showHideSignupForm">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login_form">
            <div class="form-group">
              <!-- <label for="firstName">First Name</label> -->
              <input type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="First name" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="lastName">Last Name</label> -->
              <input type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last name" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="username">Username</label> -->
              <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
              <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.pattern">Username can only contain letters, numbers and underscores.</div>
              </div>
              <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.userNameExists">This username has already been taken, sorry!</div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="email">Email</label> -->
              <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be valid</div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary btn-map">Register</button>
              <a class="btn btn-link" (click)="showHideSignupForm = !showHideSignupForm">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Popup for login -->
<!-- <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
    Header
  </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <a class="navbar-brand" href="#">Logo</a>
  
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
  <ul class="navbar-nav pull-right">
    <li class="nav-item">
      <button (click)="signInWithGoogle()">Login</button>
    </li>
    <li class="nav-item">
      <button (click)="signInWithFB()">Facebook Login</button>
    </li>
    <li class="nav-item">
      <button (click)="signOut()">Logout</button>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <h3>Brand / Logo</h3>
  <p>The .navbar-brand class is used to highlight the brand/logo/project name of your page.</p>
</div>
<div class="container">
  <div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be valid</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <a class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
-->