<!-- Single story page title -->
<div *ngIf="displayStoryError == true">
    We couldn’t find this page.
</div>

<div *ngIf="dataLoading == true" style="min-height: 80vh;">
    <!-- Loading -->
    <content-loader>
      <svg:rect x="0" y="0" rx="3" ry="3" width="400" height="80" />
      <svg:rect x="0" y="90" rx="3" ry="3" width="250" height="2" />
      <svg:rect x="0" y="95" rx="3" ry="3" width="250" height="2" />
      <svg:rect x="4" y="100" rx="3" ry="3" width="220" height="2" />
      <svg:rect x="4" y="105" rx="3" ry="3" width="220" height="2" />
      <svg:rect x="4" y="110" rx="3" ry="3" width="170" height="2" />
      <svg:rect x="4" y="115" rx="3" ry="3" width="170" height="2" />
      <svg:rect x="4" y="120" rx="3" ry="3" width="250" height="2" />
      <svg:rect x="4" y="125" rx="3" ry="3" width="250" height="2" />
      <svg:rect x="4" y="130" rx="3" ry="3" width="200" height="2" />
      <svg:rect x="4" y="135" rx="3" ry="3" width="200" height="2" />
      <svg:rect x="0" y="140" rx="3" ry="3" width="80" height="2" />
      <svg:rect x="0" y="145" rx="3" ry="3" width="80" height="2" />
      <svg:rect x="0" y="150" rx="3" ry="3" width="250" height="2" />
    </content-loader>
</div>

<div class="single_story_page_title text-left single_story_page_title_col" *ngIf="displayStory == true && dataLoading == false" [ngStyle]="{ 'background-image': 'url(' + storyData.preview_image + ')'}">
    <div class="container">
        <div class="singleStory_head">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="story_tag_wrap">
                        <a href="#" [routerLink]="['/search']" [queryParams]="{type: storyData.type}"  class="dark_tag" *ngIf="storyData.type == 1">Workplace</a>
                        <a href="#" [routerLink]="['/search']" [queryParams]="{type: storyData.type}"  class="dark_tag" *ngIf="storyData.type == 2">Business</a>
                        <a *ngFor="let tag of storyData.tags" [routerLink]="['/search/']" [queryParams]="{tag: tag.tag_id}" class="light_tag">{{tag.name}}</a>
                    </div>
                    <h1>{{storyData.title}}</h1>
                    <div class="right_inner_footer_bottom top20">
                        <ul>
                            <li (click)="like()">
                                <img src="assets/img/liked.png" alt="" *ngIf="storyData.liked">
                                <img src="assets/img/like_white.png" alt="" *ngIf="!storyData.liked">
                                FASCINATING
                            </li>
                            <li class="bookmark"><img src="assets/img/bookmark.png" alt=""> 14 min rea</li>
                        </ul>
                    </div>
                </div>
                <div class="story_post_date story_post_date_single">{{storyData.created | date: 'mediumDate'}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 single_profile_wrap">
                <div class="coFounder_top_img">
                    <img [src]="storyData.profile_pic" alt="">
                </div>
                <div class="coFounder_top_des">
                    <h1 class="singleStory_title">
                        {{storyData.first_name}} {{storyData.last_name}}
                    </h1>
                <!-- <h3 class="singleStory_Subtitle">{{storyData.professional_info}}</h3> -->
            </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="story_tag_wrap">
                    <a href="#" class="dark_tag">Russia</a>
                    
                    <a *ngFor="let tag of storyData.tags" [routerLink]="['/search/']" [queryParams]="{tag: tag.tag_id}" class="light_tag">{{tag.name}}</a>
                    
                </div>
                <h1>{{storyData.title}}</h1>
                <div class="right_inner_footer_bottom top20">
                    <ul>
                        <li><a (click)="like()"><img src="assets/img/like_white.png" alt=""> FASCINATING</a></li>
                        <li class="bookmark"><img src="assets/img/bookmark.png" alt=""> 14 min rea</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="story_post_date">{{storyData.created | date: 'mediumDate'}} </div> -->
</div>
<!-- Single story page title -->
<!-- Single story page section 2 -->
<div class="container-fluid single_page_tagline_wrap single_page_content" *ngIf="displayStory == true">
    <div class="container">
        <div class="row">
            <div [innerHtml]="storyData.description"></div>
        </div>
    </div>
</div>
<!-- Comments section -->
<div class="container-fluid single_page_comments comment-wrapper" *ngIf="displayStory == true">
    <div class="container">
    <div class="comments_heading"><h3>Comments</h3></div>
        <div class="row" *ngIf="comments?.length > 0; else noComments;">
            <ul class="media-list col-md-12">
                <ng-template #commentsList let-comments>
                <li class="media" *ngFor="let comment of comments; let indx = index">
                    <a href="#" class="pull-left pr-3">
                        <img *ngIf="comment.profile_pic; else defaultImage" class="rounded-circle" src="{{comment.profile_pic}}">
                        <ng-template #defaultImage>
                        <!-- <img class="rounded-circle" src="assets/img/default-user-image.jpg"> -->
                        <div class="user-imageholder">
                            <span class="name-letter">
                                {{(comment.first_name | slice:0:1)}}{{(comment.last_name | slice:0:1)}}
                            </span>
                        </div>
                        </ng-template>
                    </a>
                    <div class="media-body">
                        <span class="text-muted pull-right">
                            <small class="text-muted">{{comment.created | timeAgo}}</small>
                        </span>
                        <strong class="theme_color">{{comment.first_name}} {{comment.last_name}}</strong>
                        
                        <p> {{comment.content}} </p>
                        
                        <p *ngIf="comment.approved == 0">
                            <small class="text-muted">(Pending Approval)</small>
                        </p>
                        <ul *ngIf="comment.children?.length > 0">
                            <ng-container *ngTemplateOutlet="commentsList; context:{ $implicit: comment.children }"></ng-container>
                        </ul>
                        
                        <a class="alink" *ngIf="comment.parent == 0 && isLoggedIn == 'true'" (click)="comment.addReply = 'true'">Reply</a>
                        <form [formGroup]="commentsForm" (ngSubmit)="addComment(comment.comment_id, indx)" *ngIf="comment.parent == 0 && comment.addReply == 'true'">
                            <input type="hidden" formControlName="parent" value="comment.comment_id">
                            <div class="form-group">
                                <textarea class="form-control" formControlName="comment"></textarea>
                            </div>
                            <button class="theme_btn">Add Comment</button>
                            <button class="theme_btn" (click)="comment.addReply = 'false'">Cancel</button>
                        </form>
                    </div>
                </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="commentsList; context:{ $implicit: comments }"></ng-container>
            </ul>
        </div>
        <ng-template #noComments>
        No comments yet!!
        </ng-template>
        <div class="row" *ngIf="isLoggedIn == 'true'; else showLogin">
            <div class="col-md-4" *ngIf="showCommentBox == 'true'; else showCommentButton">
                <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
                    <input type="hidden" formControlName="parent">
                    <div class="form-group">
                        <textarea class="form-control" formControlName="comment"></textarea>
                    </div>
                    <button class="theme_btn">Add</button>
                    <button class="theme_btn" (click)="showCommentBox = 'false'">Cancel</button>
                </form>
            </div>
            
            <ng-template #showCommentButton>
            <div class="col-md-4">
                <button class="theme_btn" (click)="showCommentBox = 'true'">Add Comment</button>
            </div>
            </ng-template>
            
        </div>
        <ng-template #showLogin>
        <p class="login-message" (click)="showLoginPopup()">Login to comment.</p>
        </ng-template>
    </div>
</div>