
<!-- Single story page title -->
<div class="single_story_page_title" *ngIf="displayStory == true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="story_tag_wrap">
                    <a href="#" class="dark_tag">Russia</a>
                    
                    <a *ngFor="let tag of storyData.tags" [routerLink]="['/tag/', tag.tag_id]" class="light_tag">{{tag.name}}</a>
                    
                </div>
                <h1>{{storyData.title}}</h1>
                <div class="right_inner_footer_bottom top20">
                    <ul>
                        <li><a (click)="like()"><img src="/assets/img/like_white.png" alt=""> FASCINATING</a></li>
                        <li class="bookmark"><img src="/assets/img/bookmark.png" alt=""> 14 min rea</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="story_post_date">{{storyData.created | date: 'mediumDate'}} </div>
</div>
<!-- Single story page title -->

<!-- Single story page section 2 -->
<div class="container-fluid single_page_tagline_wrap" *ngIf="displayStory == true">
    <div class="container">
        <div class="row">
            <div [innerHtml]="storyData.description"></div>
        </div>
    </div>
</div>
<!-- Single story page section 2 -->

