<div class="container user_info_wrap">
	<div class="row">
		<div class="col-sm-12">
			<div class="heading_gap">
				<h2>Your Stories</h2>
			</div>
		</div>
		<div class="col-sm-12 mb-5">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a [routerLink]="['/user/story/list/drafts']" class="nav-link" [ngClass]="{'active': viewType == 'drafts'}" data-toggle="tab" href="#drafts">
						Drafts
						<span class="stories-count draft">{{draftStories?.length}}</span>
					</a>
				</li>
				<li class="nav-item">
					<a [routerLink]="['/user/story/list/published']" class="nav-link" [ngClass]="{'active': viewType == 'published'}" data-toggle="tab" href="#published">
						Published
						<span class="stories-count draft">{{publishedStories?.length}}</span>
					</a>
				</li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div id="drafts" class="container tab-pane fade" role="tabpanel" [ngClass]="{'active show': viewType == 'drafts'}"><br>
					<div class="row">
						<div class="col-md-4 mb-5" *ngFor="let story of draftStories; let indx = index">
							<mat-card class="stories-card">
							<mat-card-header>
							<!-- <div mat-card-avatar class="example-header-image"></div> -->
							<mat-card-title>{{story.preview_title}}</mat-card-title>
							<mat-card-subtitle>{{story.created | date: 'mediumDate'}}</mat-card-subtitle>
							</mat-card-header>
							<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
							<mat-card-content>
							<p [innerHtml]="(story.preview_subtitle?.length >=139) ? story.preview_subtitle+'...' : story.preview_subtitle"></p>
							</mat-card-content>
							<mat-card-actions>
							<button mat-button [routerLink]="['/user/story/edit/', story.story_id]">EDIT</button>
							<button mat-button (click)="deleteStory(story.story_id, indx)">DELETE</button>
							</mat-card-actions>
							</mat-card>
						</div>
					</div>
				</div>
				
				<div id="published" class="container tab-pane fade" role="tabpanel" [ngClass]="{'active show': viewType == 'published'}"><br>
					<div class="row">
						<div class="col-md-4 mb-5" *ngFor="let story of publishedStories">
							<mat-card class="stories-card">
							<mat-card-header>
							<!-- <div mat-card-avatar class="example-header-image"></div> -->
							<mat-card-title>{{story.preview_title}}</mat-card-title>
							<mat-card-subtitle>{{story.created | date: 'mediumDate'}}</mat-card-subtitle>
							</mat-card-header>
							<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
							<mat-card-content>
							<p [innerHtml]="(story.preview_subtitle?.length >=139) ? story.preview_subtitle+'...' : story.preview_subtitle"></p>
							</mat-card-content>
							
							<mat-card-actions>
								<a mat-button [routerLink]="['/story/', story.slug]" target="_blank">View</a>
								<a mat-button [routerLink]="['/user/story/stats/', story.story_id]">Stats</a>
							</mat-card-actions>
							</mat-card>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>