<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Category List</h4>
            <!-- <p class="card-category"> List of users.</p> -->
            <button class="btn btn-sm btn-success pull-right" [routerLink]="['./add']">
               Add New
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th width="20%">Name </th>
                  <th width="30%">Description </th>
                  <th width="20%">Parent </th>
                  <th width="10%">Status </th>
                  <th width="10%">Created </th>
                  <th width="10%">Action </th>
                </thead>
                <tbody *ngIf="categories?.length > 0">
                  <tr *ngFor="let category of categories">
                    <td>
                      <a href="#" class="user_name"> {{category.name | titlecase}} </a>
                    </td>
                    <td>
                    <!-- {{category.description | slice: 0:10}} -->
                     {{ (category.description.length>251)? (category.description | slice:0:251)+'..':(category.description) }}
                    </td>
                    <td>{{ (category.parent == 0) ? '-' : (category.parent_name | titlecase) }}</td>
                    <td>
                      <span *ngIf="category.status == 1; else unPublishedCat">Published</span>
                      <ng-template #unPublishedCat>Unpublished</ng-template>
                    </td>
                    <td>{{category.created | date: 'mediumDate'}}</td>
                    <td>
                      <button class="btn btn-sm btn-success">
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="categories?.length == 0">
                  <tr>
                    <td colspan="6" class="empty-list">
                      No category found.
                      <br>
                      <button class="btn btn-sm btn-success" [routerLink]="['./add']">
                         Add New
                      </button>
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>