<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 mb-5 text-center user-info">
            <div class="user_profile_pic_wrap">
              <img *ngIf="userInfo['profile_pic']?.length > 0" [src]="userInfo['profile_pic']" alt="">
              <img *ngIf="userInfo['profile_pic']?.length == 0" src="assets/img/user/user.jpg" alt="">
            </div>
            <h3>{{userInfo.first_name}}  {{userInfo.last_name}}</h3>
            <span class="mt-5">
              <strong>{{userInfo.badge}}</strong> ({{userInfo.points}} Points)
            </span>
          </div>
          <div class="col-md-8 mb-5">
            <div class="list-group">
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Email</h5>
                  <!-- <small>3 days ago</small> -->
                </div>
                <p class="user-detailp mb-1">{{userInfo.user_email}}</p>
              </a>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Short Info</h5>
                  <!-- <small class="text-muted">3 days ago</small> -->
                </div>
                <p class="user-detailp mb-1" *ngIf="userInfo.professional_info != ''">{{userInfo.professional_info}}</p>
                <p class="user-detailp mb-1" *ngIf="userInfo.professional_info == ''">Short information not added.</p>
              </a>
              <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">LinkedIn URL</h5>
                  <!-- <small class="text-muted">3 days ago</small> -->
                </div>
                <p class="user-detailp mb-1" *ngIf="userInfo.website != ''">{{userInfo.website}}</p>
                <p class="user-detailp mb-1" *ngIf="userInfo.website == ''">LinkedIn URL not added.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-5">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Points</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <ul class="list-group list-group-flush" *ngIf="points?.length > 0">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let point of points">
                  <span *ngIf="point.activity == 'likes'">
                    This
                    <a [routerLink]="['/story/', point.slug]">{{point.selector}}</a>
                    has been recommended by {{point.milestone}} readers.
                  </span>
                  <span *ngIf="point.activity == 'approved'">
                    This
                    <a *ngIf="point.selector == 'story'" [routerLink]="['/story/', point.slug]">{{point.selector}}</a>
                    
                    <a *ngIf="point.selector == 'question'" [routerLink]="['/forum/question/', point.question_slug]">{{point.selector}}</a>
                    
                    <a *ngIf="point.selector == 'answer'" [routerLink]="['/forum/question/', point.answer_slug]">{{point.selector}}</a>
                    has been approved by the SOA Team.
                  </span>
                  <span *ngIf="point.activity == 'comments'">
                    This
                    <a *ngIf="point.selector == 'story'" [routerLink]="['/story/', point.slug]">{{point.selector}}</a>
                    
                    <a *ngIf="point.selector == 'answer'" [routerLink]="['/forum/question/', point.answer_slug]">{{point.selector}}</a>
                    got {{point.milestone}} {{point.activity}} from readers.
                  </span>
                  <span class="badge badge-primary badge-pill">
                    +{{point.points}}
                  </span>
                  
                  <span> {{point.created | date: 'mediumDate'}} </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Published Stories</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th width="20%">Preview Title </th>
                  <th width="30%">Sub Title </th>
                  <th width="10%">Author </th>
                  <th width="10%">Last Updated </th>
                </thead>
                <tbody *ngIf="stories?.length > 0">
                  <tr *ngFor="let story of stories; let indx = index">
                    <td>
                      <a href="#" target="_blank" [routerLink]="['/story/', story.slug]" class="user_name"> {{story.preview_title | titlecase}} </a>
                    </td>
                    <td>
                      {{ story.preview_subtitle }}
                    </td>
                    <td>
                      <a href="#" class="user_name">
                        {{ story.first_name | titlecase }} {{story.last_name | titlecase }}
                      </a>
                      <p class="user_name text-muted">
                        @{{story.username}}
                      </p>
                    </td>
                    <td>{{story.created | date: 'mediumDate'}}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="stories?.length == 0">
                  <tr>
                    <td colspan="6" class="empty-list">
                      No story found.
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>