<div class="container-fluid forum_page_content_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="right-searchBox mb50">
          <input type="text" class="form-control" placeholder="Keywords typing...">
          <button type="button" class="searchBoxBTN"></button>
        </div>
        <div class="left_static_menu" *ngIf="sidebarTopics?.length > 0">
          <ul>
            <li *ngFor="let topic of sidebarTopics">
              <a href="#" [routerLink]="['/forum']"  [queryParams]="{topic: topic.topic_id}">
                <span class="topic-icon">
                  <i class="fa" [ngClass]="topic.icon_class"></i>
                </span>
                {{topic.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="right_questions_wrap">
          <a data-toggle="modal" data-target="#askQuestion">
            <div class="post_que_wrap">
              <div class="profile_icon_wrap">
                <img src="/assets/img/forum/user_pic.png" alt="">
              </div>
              <div class="what_is_your_que_wrap">
                <h5>What is your question?</h5>
              </div>
            </div>
          </a>
          
          <div *ngIf="allQuestions?.length > 0"  infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
            
            <div class="full_que_wrap" *ngFor="let question of allQuestions; let questionIndex = index">
              <div class="que_header">
                <ul>
                  <li>Answer</li>
                  <li *ngFor="let topic of question.topics; let indx = index;">
                    <a href="#" [routerLink]="['/forum']"  [queryParams]="{topic: question.topic_ids[indx]}">{{topic}}</a>
                  </li>
                </ul>
              </div>
              <a href="#" [routerLink]="['/forum/question/', question.slug]" class="full_que">
                {{question.title}}
              </a>
              <div class="ans_content not_answered mt-2" *ngIf="question.answer == null">
                
                <p>Not answered yet.</p>
                <ul>
                  <li (click)="question.showAnswerBox = true">
                    <span><i class="fa fa fa-edit"></i> Answer </span>
                  </li>
                </ul>
                <div class="answer-box" *ngIf="question.showAnswerBox == true">
                  <form (ngSubmit)="saveAnswer(question.question_id, questionIndex)">
                    <input type="hidden" [value]="question.question_id">
                    <textarea [froalaEditor]="editorAnswerOptions" placeholder="Write your answer" [(ngModel)]="question.tempAnswer" name="tempAnswer">
                    </textarea>
                    
                    <button type="button" class="btn btn-sm btn-danger" (click)="question.showAnswerBox = false">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                  </form>
                </div>
                
              </div>
              <div class="answered_wrap" *ngIf="question.answer?.length > 0">
                <div class="ans_pic_wrap">
                  <img *ngIf="question.profile_pic.length > 0; else defaultDP" [src]="question.profile_pic" alt="">
                  <ng-template #defaultDP>
                  <img src="/assets/img/forum/user_pic.png" alt="">
                  </ng-template>
                </div>
                <div class="ans_info">
                  <a href="#">{{question.first_name}} {{question.last_name}}</a>
                  <span>Answered {{question.answered_ago}}</span>
                </div>
              </div>
              <!-- ANSWER -->
              <div class="ans_content" *ngIf="question.answer?.length > 0" [innerHtml]="question.answer">
              </div>
              
              <a href=""  [routerLink]="['/forum/question/', question.slug]" *ngIf="question.answer?.length > 249">
                Read more
              </a>
              <div class="right_inner_footer_bottom" *ngIf="question.answer?.length > 0">
                <ul class="fl">
                  <li (click)="changeLikeStatus(question.answer_id, questionIndex)">
                    <img *ngIf="question.user_liked == 0; else userLiked" src="/assets/img/like.png" alt="">
                    <ng-template #userLiked>
                    <span *ngIf="question.user_liked == 1">
                      <i class="fa fa-heart-o fa-2x" style="color: red;"></i>
                    </span>
                    </ng-template>
                    {{question.likes}}
                  </li>
                  <li><img src="/assets/img/forum/eye.png" alt="">{{question.views}}</li>
                  <li class="bookmark"><div class="share_img_wrap"><img src="/assets/img/bookmark.png" alt="">
                    <div class="social_wrap">
                      <ul>
                        <li><a href="#"><img src="/assets/img/facebook.png" alt=""></a></li>
                        <li><a href="#"><img src="/assets/img/twtr.png" alt=""></a></li>
                        <li><a href="#"><img src="/assets/img/linkedIn.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div> 254
                </li>
              </ul>
              <ul class="fr">
                <li class="nomargin"><a href="#"><img class="nomargin" src="/assets/img/forum/menu.png" alt=""></a></li>
              </ul>
              <div class="clear"></div>
            </div>
            <!-- <div class="comment_footer_wrap" *ngIf="question.answer?.length > 0">
              <div class="profile_icon_wrap">
                <img src="/assets/img/forum/user_pic.png" alt="">
              </div>
              <div class="enter_comment_wrap">
                <input type="text" name="" placeholder="Add a comment...">
                <a href="" class="comment_go"><img src="/assets/img/forum/go.png" alt=""></a>
              </div>
            </div> -->
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- The Modal -->
<div class="modal fade" id="askQuestion">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form [formGroup]="addQuestionForm" (ngSubmit)="addQuestion()">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Question</h4>
        <button type="button" class="close" #closeQuestionModal data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="form-group">
              <input type="text" formControlName="title" class="title-field" placeholder='Start your question with "What", "How", "Why", etc.'>
            </div>
          </div>
          <div class="col-md-10 mx-auto">
            <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="topics selection">
            <mat-chip
            *ngFor="let topic of topics;let indx=index;"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(topic,indx)">
            {{topic.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
            placeholder="Add or change topics, so readers know what your question is about"
            #topicsInput
            formControlName="topics"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let topics of filteredTopics | async" [value]="topics">
            {{topics.name}}
            </mat-option>
            </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-success" >Add Question</button>
      </div>
    </form>
  </div>
</div>
</div>