<div class="container user_info_wrap">
	<div class="row">
		<div class="col-md-12">
			<div class="heading_gap">
				<h2>Points</h2>
			</div>
		</div>
		<div class="col-md-3 mb-5 text-center user-info">
      <div class="user_profile_pic_wrap">
          <img *ngIf="userInfo['profile_pic']?.length > 0" [src]="userInfo['profile_pic']" alt="">
          <img *ngIf="userInfo['profile_pic']?.length == 0" src="assets/img/forum/user_pic.png" alt="">
      </div>

      <h3>{{userInfo['first_name']}}  {{userInfo['last_name']}}</h3>

      <span class="mt-5">
          <strong>{{userInfo['badge']}}</strong> ({{userInfo['points']}} Points)
      </span>

      <span class="mt-5">
        <button class="btn btn-sm btn-success" *ngIf="userInfo['points'] > 1" data-toggle="modal" data-target="#transfer-popup-form">
					Transfer Points
				</button>
      </span>

      <ul class="list-group list-group-flush mt-4" *ngIf="avgEngagement?.length > 0;">
      	<li class="list-group-item text-center">
      		<h5 class="m-2">Average Engagement</h5>
      	</li>
				<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let engagement of avgEngagement">
					<span class="text-left">
						{{engagement.type}}
					</span>
					
					<span class="text-right">
						{{engagement.data}} 
					</span>
				</li>
			</ul>
		</div>

		<div class="col-md-9 mb-5">
			<ul class="list-group" *ngIf="points?.length > 0; else noPoints">
				<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let point of points">
					<span *ngIf="point.activity == 'likes'">
						Your 
						<a *ngIf="point.slug != null" [routerLink]="['/story/', point.slug]">{{point.selector}}</a>
						<span *ngIf="point.slug == null">{{point.selector}}</span>
						recommended by {{point.milestone}} readers.
					</span>
					<span *ngIf="point.activity == 'approved'">
						Your 
						<span *ngIf="point.slug != null">
							<a *ngIf="point.selector == 'story'" [routerLink]="['/story/', point.slug]">{{point.selector}}</a>
						</span>
						<span *ngIf="point.selector == 'story' && point.slug == null">{{point.selector}}</span>
						
						<span *ngIf="point.question_slug != null">
							<a *ngIf="point.selector == 'question'" [routerLink]="['/forum/question/', point.question_slug]">{{point.selector}}</a>
						</span>
						<span *ngIf="point.selector == 'question' && point.question_slug == null">{{point.selector}}</span>
						
						<span *ngIf="point.answer_slug != null">
							<a *ngIf="point.selector == 'answer'" [routerLink]="['/forum/question/', point.answer_slug]">{{point.selector}}</a>
						</span>
						<span *ngIf="point.selector == 'answer' && point.answer_slug == null">{{point.selector}}</span>

						 approved by the SOA Team.
					</span>
					<span *ngIf="point.activity == 'comments'">
						Your 
						<span *ngIf="point.slug != null">
							<a *ngIf="point.selector == 'story'" [routerLink]="['/story/', point.slug]">{{point.selector}}</a>
						</span>
						<span *ngIf="point.selector == 'story' && point.slug == null">{{point.selector}}</span>
						
						<span *ngIf="point.answer_slug != null">
							<a *ngIf="point.selector == 'answer'" [routerLink]="['/forum/question/', point.answer_slug]">{{point.selector}}</a>
						</span>
						<span *ngIf="point.selector == 'answer' && point.answer_slug == null">{{point.selector}}</span>
						got {{point.milestone}} {{point.activity}} from readers.
					</span>

					<!-- <span *ngIf="point.activity == 'helpful' && point.selector == 'comment'">
						Your comment marked as helpful.
					</span> -->

					<span *ngIf="point.activity == 'reported'">
						Your {{point.selector}} reported as inappropriate.
					</span>
					
					<span *ngIf="point.activity == 'helpful'">
						Your {{point.selector}} marked as helpful.
					</span>

					<span *ngIf="point.activity == 'transfered'">
						You transfered points.
					</span>

					<span *ngIf="point.activity == 'received'">
						You received points.
					</span>

					<!-- <span *ngIf="point.activity == 'reported' && point.selector == 'answer'">
						Your answer reported as inappropriate.
					</span> -->

					<span class="badge badge-primary badge-pill" *ngIf="point.activity == 'reported' || point.activity == 'transfered'; else postivePoints">
						{{point.points}}
					</span>

					<ng-template #postivePoints>
						<span class="badge badge-primary badge-pill">
							+{{point.points}}
						</span>
					</ng-template>
					
					<span> {{point.created | date: 'mediumDate'}} </span>
				</li>
			</ul>

			<ng-template #noPoints>
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						No points achieved yet.
					</li>
				</ul>
			</ng-template>
		</div>
	</div>
</div>


<!-- The Modal -->
<div class="modal fade" id="transfer-popup-form">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Transfer Points</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<form [formGroup]="pointTransferForm" (ngSubmit)="transferPoints()" class="col-sm-12" *ngIf="transferSuccess == false">
			<!-- Modal body -->
			<div class="modal-body">
	      
	      <div class="form-group">
	        <label for="points">Points</label>
	        <input type="number" formControlName="points" class="form-control" [ngClass]="{ 'is-invalid': submitted && fields.points.errors }" id="points" />
	        <div *ngIf="submitted && fields.points.errors" class="invalid-feedback">
	          <div *ngIf="fields.points.errors.required">Points are required</div>
	          <div *ngIf="fields.points.errors.max">Maximum {{maxTransferPoints}} can be transfered</div>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="username">Username</label>
	        <input type="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && fields.username.errors }" />
	        <div *ngIf="submitted && fields.username.errors" class="invalid-feedback">
	          <div *ngIf="fields.username.errors.required">Username is required</div>
	        </div>
	        <div *ngIf="submitted && transferErrors?.length > 0" class="invalid-feedback">
	          <div *ngFor="let error of transferErrors">
	          	{{error}}
	          </div>
	        </div>
	      </div>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
				<button [disabled]="loading" type="submit" class="btn btn-success">Confirm</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" #closeTransferPopup>Close</button>
			</div>
	    </form>	

	    <div class="modal-body" *ngIf="transferSuccess == true">
	    	<p class="mb-5">
					Points transfered successfully
	    	</p>
	    </div>
			
		</div>
	</div>
</div>