.soa-inline-list { -ms-flex-direction: row; flex-direction: row; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.soa-inline-list li { border: none; }
.soa-inline-list li:first-child { padding-left: 0; }
.soa-inline-list li a { color: rgba(0, 0, 0, 0.9); }
.nav-tabs .nav-link{ color: #333333 !important; border-bottom: 1px solid #333333 !important}
.mat-card-title, .mat-card-subtitle { margin-left: -16px; margin-right: -16px; }
.mat-card-subtitle { border: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 10px; }
.stories-card.mat-card { min-height: 300px; position: relative;}
.mat-card-actions { position: absolute; bottom: 20px; }
.mat-card-actions .mat-button {background: #f7f7f7; border-bottom: 1px solid rgba(0, 0, 0, .5); transition: all .5s;}
.mat-card-actions .mat-button:hover, .stories-card.mat-card:hover{
-webkit-box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.37);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25); border-bottom: 1px solid #fff;
}
.heading_gap{padding: 30px 0}
.nav-tabs .nav-link.active{color: #f1663b !important; border-bottom: 1px solid #f1663b !important}
.mat-card-title, .stories-card.mat-card{transition: all .5s;}
.stories-card.mat-card:hover .mat-card-title{color: #f1663b;}

.user_profile_pic_wrap{width: 200px; height: 200px; border-radius: 200px; overflow:hidden; margin:20px auto; position: relative;}
.user_profile_pic_wrap img, .image_wraper_out img{width: 100%;height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);object-fit: cover;}
.user-info { border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 5px; height: max-content; padding-bottom: 20px; }

li.list-group-item span:first-of-type { width: 80%; }

