<!-- <fb-like url="http://soastaging.com/app/static-meta-tags.php"></fb-like> -->

<!-- <tweet url="http://jasonwatmore.com/post/2018/06/01/angular-2-social-sharing-buttons-for-facebook-google-plus-twitter-linkedin-and-pinterest"></tweet> -->

<!-- <linkedin-share url="http://jasonwatmore.com/post/2018/06/01/angular-2-social-sharing-buttons-for-facebook-google-plus-twitter-linkedin-and-pinterest"></linkedin-share> -->

<!-- <share-button [theme]="'modern-dark'"
 [button]="'twitter'"
 [size]="-1"
 [url]="'http://soastaging.com/app/static-meta-tags.php?story=the-scientific-cause-of-sudden-toddler-meltdowns'"
 [title]="'Title of the story'"
 [description]="'Description of the story.'"
></share-button> -->
<router-outlet></router-outlet>
