<!-- <fb-like url="http://jasonwatmore.com/post/2018/06/01/angular-2-social-sharing-buttons-for-facebook-google-plus-twitter-linkedin-and-pinterest"></fb-like> -->

<!-- <tweet url="http://jasonwatmore.com/post/2018/06/01/angular-2-social-sharing-buttons-for-facebook-google-plus-twitter-linkedin-and-pinterest"></tweet> -->

<!-- <linkedin-share url="http://jasonwatmore.com/post/2018/06/01/angular-2-social-sharing-buttons-for-facebook-google-plus-twitter-linkedin-and-pinterest"></linkedin-share> -->

<router-outlet></router-outlet>
