<!-- Footer -->
<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subscribe_wrap">
                    <h3>Subscribe to receive the very best stories in your inbox</h3>
                    <form>
                        <input type="text" name="" placeholder="First Name">
                        <input type="text" name="" placeholder="Last Name">
                        <input type="email" name="" placeholder="Email">
                        <input type="submit" name="" value="Subscribe Now">
                    </form>
                </div>
                <div class="footer_link_wrap">
                    <div class="col">
                        <h4>EXPLORE</h4>
                        <ul>
                            <li><a href="#">Journeys</a></li>
                            <li><a href="#">Places</a></li>
                            <li><a href="#">Channels</a></li>
                            <li><a href="#">Editors’ Picks</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>COMMUNITY</h4>
                        <ul>
                            <li><a href="#">Contributors</a></li>
                            <li><a href="#">Members</a></li>
                            <li><a href="#">True North</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>ABOUT</h4>
                        <ul>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">Story & Team</a></li>
                            <li><a href="#">Donate</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>STORE</h4>
                        <ul>
                            <li><a href="#">Photography Products</a></li>
                            <li><a href="#">Maptia Manifesto</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>FOLLOW</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="mobile_clear"></div>
                </div>
                <div class="col-md-12 text-center">
                  <div class="main_social_wrap"><ul class="team_social_list">
                        <li><a href=""><img src="assets/img/fb.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/twt.png" alt=""></a></li>
                        <li><a href=""><img src="assets/img/linkedIn.png" alt=""></a></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->