<!-- Footer -->
<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subscribe_wrap">
                    <h3>Subscribe to receive the very best stories in your inbox</h3>
                    <form [formGroup]="newsletterForm" (ngSubmit)="submitNewsletter()">
                        <input type="text" matInput formControlName="firstName" placeholder="First Name">
                        
                        <input type="text" matInput formControlName="lastName" placeholder="Last Name">
                        <input type="email" matInput formControlName="email" placeholder="Email">
                        <input type="submit" value="Subscribe Now">
                    </form>
                    <div *ngIf="formSubmitted && (fields.firstName.errors || fields.lastName.errors || fields.email.errors)" class="invalid-feedback">
                        <div *ngIf="fields.firstName.errors?.required || fields.lastName.errors?.required || fields.email.errors?.required">All fields are required</div>
                    </div>
                    <div *ngIf="formSubmitted && fields.email.errors" class="invalid-feedback">
                        <div *ngIf="fields.email.errors.email">Email must be valid</div>
                    </div>
                </div>
                <div class="footer_link_wrap">
                    <div class="col">
                        <h4>EXPLORE</h4>
                        <ul>
                            <li><a href="#" [routerLink]="['/stories']">Stories</a></li>
                            <li><a href="#" [routerLink]="['/search']" [queryParams]="{type: 1}">Workplace Stories</a></li>
                            <li><a href="#" [routerLink]="['/search']" [queryParams]="{type: 2}">Business Stories</a></li>
                            <li><a href="#" [routerLink]="['/search']">Search Stories</a></li>
                            <li><a href="#" [routerLink]="['/forum']">Community Discussions</a></li>
                        </ul>
                    </div>
                    <!-- <div class="col">
                        <h4>COMMUNITY</h4>
                        <ul>
                            <li><a href="#">Contributors</a></li>
                            <li><a href="#">Members</a></li>
                            <li><a href="#">True North</a></li>
                        </ul>
                    </div> -->
                    <div class="col">
                        <h4>ABOUT</h4>
                        <ul>
                            <li><a href="#" [routerLink]="['/about']">About</a></li>
                            <li><a href="#" [routerLink]="['/contact']">Contact</a></li>
                            <!-- <li><a href="#" [routerLink]="['/partner']">Partner</a></li> -->
                            <li><a href="#" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                            <li><a href="#" [routerLink]="['/terms-and-conditions']">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <!-- <div class="col">
                        <h4>STORE</h4>
                        <ul>
                            <li><a href="#">Photography Products</a></li>
                            <li><a href="#">Maptia Manifesto</a></li>
                        </ul>
                    </div> -->
                    <div class="col">
                        <h4>FOLLOW</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="mobile_clear"></div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="main_social_wrap">
                        <ul class="team_social_list">
                            <li>
                                <a [href]="fbUrl" target="_blank">
                                    <img src="assets/img/fb.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a [href]="instaUrl" target="_blank">
                                    <img src="assets/img/insta.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a [href]="lnUrl" target="_blank">
                                    <img src="assets/img/linkedIn.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
<button data-toggle="modal" data-target="#newsletter-success" class="d-none" #sucessNewsletterBtn></button>
<!-- The Modal -->
<div class="modal fade" id="newsletter-success">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal body -->
            <div class="modal-body">
                <p class="p-2">Thank you for subscribing!</p>
                <p class="p-2">Have a great day!</p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer p-2">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>
<button data-toggle="modal" data-target="#newsletter-error" class="d-none" #errorNewsletterBtn></button>
<!-- The Modal -->
<div class="modal fade" id="newsletter-error">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal body -->
            <div class="modal-body" *ngIf="subscribeError?.length > 0">
                <p class="p-2">{{subscribeError}}</p>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>